{
    "presets": [
        "@babel/env",
        "@babel/preset-typescript",
        "@babel/preset-react",
        "minify"
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}
